<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false">

	<property resource="logback.properties" />
	
	<!-- appender for console, only error (log.level.root) should be output to console -->
	<appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${log.pattern}</pattern>
		</encoder>
	</appender>
	
	<!-- appender for application log file -->
	<appender name="FILE_APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.home}/jema-logs.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>${log.history}</maxHistory>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${log.pattern}</pattern>
		</encoder>
	</appender>


	<!-- logger for error to console -->
	<root level="${log.level}" additivity="false">
		<appender-ref ref="CONSOLE_APPENDER" />
		<appender-ref ref="FILE_APPENDER" />
	</root>
	
</configuration>